body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #f0f0f0;
    margin: 100px;
    padding: 100px;
}

.container {
    background-color: #fff;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 60px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}


#results {
    margin-top: 20px;
    text-align: center;
}
